
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}Login{% endblock %}</title>
  
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }

            body {
                background: #fff;
            }

            .input-field input[type=date]:focus + label,
            .input-field input[type=text]:focus + label,
            .input-field input[type=email]:focus + label,
            .input-field input[type=password]:focus + label {
                color: #e91e63;
            }

            .input-field input[type=date]:focus,
            .input-field input[type=text]:focus,
            .input-field input[type=email]:focus,
            .input-field input[type=password]:focus {
                border-bottom: 2px solid #e91e63;
                box-shadow: none;
            }
        </style>


    </head>
    <body>   
        <div class="section"></div>
        <main>
            <center>
              
                <div class="section"></div>

                <h5 class="indigo-text">Por favor ingresa tus datos</h5>
                <div class="section"></div>

                <div class="container">
                    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">




                        <form action="{{ path('login') }}" method="post" class="col s12">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">
                                    Usuario</label><div class="input-field col s12">
                                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" /></div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="input-field col s12">
                                    Password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="password" class="form-control" name="_password" />
                                </div></div>
                                {#
                                    If you want to control the URL the user
                                    is redirected to on success (more details below)
                                    <input type="hidden" name="_target_path" value="/account" />
                                #}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9 ">
                                    <button class='col s12 btn btn-large waves-effect indigo' id="loginbtn" type="submit">Entrar</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                
            </center>

            <div class="section"></div>
            <div class="section"></div>
        </main>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="alert alert-success">
                {{ flashMessage }}
            </div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('warning') %}

            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>

        {% endfor %}





    </body></html>